<div class="test-app-wrapper">
  <section class="hero-banner" id="hero-banner">
    <div class="uk-text-center">
      <p class="main-heading">Hello World!</p>
      <p class="sub-heading">
        lorem ipsum dolor sit amet, consectetuer adipisc elit
      </p>
      <a href="#contact" uk-scroll>
        <button class="uk-margin-top">contact us</button></a
      >
    </div>
  </section>

  <section class="info" id="info">
    <div class="uk-container">
      <div class="text-part">
        <p class="heading">Pharetra Magna Etiam Mollis</p>
        <p class="body">
          Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur
          purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac,
          vestibulum at eros. Aenean eu leo quam. Pallentesque ornare sem
          lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac
          facilisis in, egestas eget quam.
        </p>
      </div>
      <div class="img-part">
        <img src="./assets/orange.jpg" alt="" />
      </div>
    </div>
    <div class="uk-text-center uk-margin-top">
      <a href="#footer" uk-scroll>
        <img
          src="{{
            isArrowHover
              ? './assets/triangle-purple.svg'
              : './assets/triangle-yellow.svg'
          }}"
          (mouseenter)="isArrowHover = true"
          (mouseleave)="isArrowHover = false"
      /></a>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="uk-container">
      <div class="text-part">
        <p class="heading">Contact Us!</p>
        <p class="body">
          Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus
          porttitor. Vestibulum id ligula porta felis euismod semper.
        </p>
      </div>
      <div class="form-part">
        <form>
          <fieldset class="uk-fieldset">
            <input class="uk-input" type="text" placeholder="My Name" />
            <input
              class="uk-input uk-margin-top"
              type="email"
              placeholder="My Email"
            />
            <textarea
              class="uk-input uk-margin-top"
              placeholder="My Message"
            ></textarea>
          </fieldset>
          <div class="uk-text-right">
            <button class="uk-margin-top">send</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="footer" id="footer">
    <div class="uk-container">
      <span>@2020, Cre8ivClick ~ all rights reserved</span>
    </div>
  </section>
</div>
